



table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 20%;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}
th{
  background-color: grey;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
